.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* logo i nazad dugme na suprotnim krajevima */
  padding: 1rem;
  width: 100%;
}

.back-button-container {
  display: flex;
  align-items: center;
}

.back-button img {
  width: 30px;
  height: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; /* prilagodi ako treba */
}

.main-content {
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #5566ca;
  color: #fff;
  padding: 10px;
  text-align: center;
}


