.header {
  background-color: #5566ca;
  padding: 20px;
  text-align: center;
}

.logo-container {
  margin-bottom: 10px;
}

.logo {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.main-content {
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #5566ca;
  color: #fff;
  padding: 10px;
  text-align: center;
}


