<div class="map-container">
  <div id="map"></div>
</div>

<!-- Legend Section below the map -->
<div class="legend-container">
  <h3>Legend</h3>
  <ul>
    <li>
      <img src="assets/images/ikonica-znamenitosti.png" alt="Historical and cool places to see" width="40" height="40" />
      <span>Historical and cool places to see</span>
    </li>
    <li>
      <img src="assets/images/ikonica (3).png" alt="Church" width="40" height="40" />
      <span>Church</span>
    </li>
    <li>
      <img src="assets/images/ikonica-kafic.png" alt="Cafee" width="40" height="40" />
      <span>Cafés</span>
    </li>
    <li>
      <img src="assets/images/ikonica-muzej.png" alt="Museums" width="40" height="40" />
      <span>Museums</span>
    </li>
    <li>
      <img src="assets/images/ikonica-soping.png" alt="Shoping Time" width="40" height="40" />
      <span>Shoping Time</span>
    </li>
    <li>
      <img src="assets/images/ikonica-art.png" alt="Art and Culture" width="40" height="40" />
      <span>Art and Culture</span>
    </li>
    <li>
      <img src="assets/images/ikonica-restorani.png" alt="Restaurants" width="40" height="40" />
      <span>Restaurants</span>
    </li>
  </ul>
</div>
