.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #161139;
  justify-self: center;
}

.circle-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.circle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circle-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.circle:hover .circle-image {
  transform: scale(1.1);
}

.circle p {
  font-size: 1rem;
  color: #ffffff;
}

@media (max-width: 480px) {
  .circle-image {
    width: 60px;
    height: 60px;
  }

  .circle-content p {
    font-size: 0.75rem;
  }
}