<main class="main-content">
  <div class="circle-container">

    <div class="Raspored">
      <a routerLink="/calendar">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('/assets/images/raspored.png');"></div>
          <p>Calendar</p>
        </div>
      </a>
    </div>   

    <div class="Maps">
      <a routerLink="/maps">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/mapa.png');"></div>
          <p>Maps</p>
        </div>
      </a>
    </div>

    <div class="Hrana">
      <a routerLink="/menu">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/hrana.png');"></div>
          <p>Food</p>
        </div>
      </a>
    </div>

    <div class="Emergencies">
      <a routerLink="/emergency-contacts">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/hitno.png');"></div>
          <p>Emergencies</p>
        </div>
      </a>
    </div>

    <div class="event">
      <a routerLink="/events">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/events.png');"></div>
          <p>Events</p>
        </div>
      </a>
    </div>

    <div class="game">
      <a routerLink="/game">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/igrica.png');"></div>
          <p>Game</p>
        </div>
      </a>
    </div>

    <div class="radionice">
      <a routerLink="/workshops">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/radionice.png');"></div>
          <p>Workshops</p>
        </div>
      </a>
    </div>

    <div class="lost">
      <a routerLink="/lost-and-found">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/lost-and-found.png');"></div>
          <p>Lost & Found</p>
        </div>
      </a>
    </div>

    <div class="more">
      <a routerLink="/more">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/more.png');"></div>
          <p>More...</p>
        </div>
      </a>
    </div>

  </div>
</main>
