<main class="main-content">
  <div class="circle-container">

    <div class="Raspored">
      <a routerLink="/raspored">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('/assets/images/raspored.jpg');"></div>
          <p>Calendar</p>
        </div>
      </a>
    </div>   

    <div class="Maps">
      <a routerLink="/maps">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/mapa.jpg');"></div>
          <p>Maps</p>
        </div>
      </a>
    </div>

    <div class="Hrana">
      <a routerLink="/hrana">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/hrana.jpg');"></div>
          <p>Food</p>
        </div>
      </a>
    </div>

    <div class="Emergencies">
      <a routerLink="/hitno">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/hitno.jpg');"></div>
          <p>Emergencies</p>
        </div>
      </a>
    </div>

    <div class="event">
      <a routerLink="/event">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/event.jpg');"></div>
          <p>Events</p>
        </div>
      </a>
    </div>

    <div class="igrica">
      <a routerLink="/igrica">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/igrica.jpg');"></div>
          <p>Game</p>
        </div>
      </a>
    </div>

    <div class="radionice">
      <a routerLink="/radionice">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/radionice.png');"></div>
          <p>Workshops</p>
        </div>
      </a>
    </div>

    <div class="lost">
      <a routerLink="/lost-and-found">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/lost-and-found.jpg');"></div>
          <p>Lost & Found</p>
        </div>
      </a>
    </div>

    <div class="more">
      <a routerLink="/more">
        <div class="circle-content">
          <div class="circle-image" style="background-image: url('assets/images/morepage.jpg');"></div>
          <p>More...</p>
        </div>
      </a>
    </div>

  </div>
</main>
