.main-page {
    text-align: center;
    margin-top: 50px;
  
    a {
      display: inline-block;
      margin-top: 20px;
      text-decoration: none;
      background-color: #007acc;
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #005f99;
      }
    }
  }
  