<main class="converter-page">
  <h1>Currency Converter to RSD</h1>

  <div class="converter-box">
    <label for="currency">Currency:</label>
    <ng-select
    [items]="currencyOptions"
    bindLabel="label"
    bindValue="code"
    [(ngModel)]="selectedCurrency"
    [placeholder]="!selectedCurrency ? 'Select currency' : ''"
    [searchable]="true"
    appendTo="body"
    class="custom-ng-select">
  </ng-select>



    <button (click)="convertToRSD()">Convert</button>

    <div class="result" *ngIf="result !== null">
      {{ amount }} {{ selectedCurrency }} = {{ result | number:'1.2-2' }} RSD
    </div>
  </div>
</main>

  
